<div class="container gallerie">
	<div class="row">
	  <div class="col s12 m12 l6 box">
     <div class="imagem">
	    <%=image_tag('slider1.png',class:'materialboxed slider1 responsive-img' ) %>
	    <div class="imagem-mascara"></div>
	   </div>
	 	  
	  </div>
	  <div class="col s12 m12 l6">
	 	  <%=image_tag('slider3.png', class:'materialboxed responsive-img' ) %>
	  </div>
	</div>
	<div class="row">
		<div class="col s12 m12 l4">
			<%=image_tag('slider1.png', class:'materialboxed responsive-img' ) %>
		</div>
		<div class="col s12 m12 l5">
			<%=image_tag('slider2.png', class:'materialboxed responsive-img' ) %>
		</div>
		<div class="col s12 m12 l3">
			<%=image_tag('slider3.png', class:'materialboxed responsive-img' ) %>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m12 l3">
			<%=image_tag('slider2.png', class:'materialboxed responsive-img' ) %>
		</div>
		<div class="col s12 m12 l5">
			<%=image_tag('slider1.png', class:'materialboxed responsive-img' ) %>
		</div>
		<div class="col s12 m12 l4">
			<%=image_tag('slider3.png', class:'materialboxed responsive-img' ) %>
		</div>
	</div>

</div>