<!DOCTYPE html>
<html>
<head>
  <title>PORO</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, user-scalable=no">
 
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= favicon_link_tag 'favicon.png' %>
</head>
<body>

  <nav class="div1">
    <a href="#!" class="brand-logo left black-text"><%=image_tag 'logo-navbar.png', id:'logo', class: 'responsive-img'%></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    
    
 		<ul class=" right hide-on-med-and-down">
     
 			<li><a id="project" class="black-text project"><%=image_tag 'icon-navbar.png', id:'project', name:'#project', class: 'icon-navbar  responsive-img'%></a></li>
 			<li><a id="contact" class="black-text contact"><%=image_tag 'icon-navbar.png', id:'contact', name:'#contact', class: 'icon-navbar  responsive-img'%></a></li>
 			<li><a  id="about" class="black-text about"><%=image_tag 'icon-navbar.png',name:'#about',class: 'icon-navbar  responsive-img'%></a></li>
     
     
 		</ul>
    
   
    <ul class="side-nav" id="mobile-demo">
        <li><a>PROJETOS</a></li>
        <li><a >CONTATO</a></li>
        <li><a id="about" >SOBRE</a></li>
        
    </ul>


  </nav>
  <div id="content">
   
<%= yield %>
</div>
</body>
</html>
